CurrencyConverterTDD.xcodeproj/project.xcworkspace/
CurrencyConverterTDD.xcodeproj/xcworkspace
CurrencyConverterTDD.xcodeproj/xcuserdata
Pods/*
CurrencyConverterTDD.xcworkspace/contents.xcworkspacedata
Podfile.lock
